:root {
    --branco-principal: #FFFFFF;
    --cinza-secundario: #C0C0C0;
    --botao-azul: #167BF7;
    --cor-de-fundo: #00030C;
    --botao-azul-efeito: #9b6bf5;
}

body {
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
}

* {
    margin: 0;
    padding: 0;
}

.principal {
    background-image: url(img/Background.png);
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.container__botao {
    background-color: var(--botao-azul);
    border-radius: 3px;
    padding: 1em;
    color: var(--branco-principal);
    display: block;
    text-decoration: none;
    margin-bottom: 1em;
}

.botao_secundario {
    background-color: transparent;
    border: 2px solid var(--branco-principal);
}

.container__aviso {
    color: var(--cinza-secundario);
    font-size: 12px;
}

.inter-fonte-principal {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
}

.container__titulo {
    font-size: 28px;
    font-weight: 700;
}

.container__imagem {
    margin: 1em 0 2em 0;
}

.container__caixa {
    margin: 0 6em;
}

.secundario__imagem {
    width: 80%;
}

.secundario {
    align-items: center;
    margin: 0 10em;
}

.descricao__titulo {
    font-weight: 700;
    font-size: 48px;
    color: var(--branco-principal);
    margin-bottom: 0.1em;
}

.descricao__texto {
    color: var(--cinza-secundario);
}

.secundario__botao {
    display: inline-block;
    margin-top: 1em;
}

.container__descricao {
    padding: 2em;
}

.dispositivos {
    margin: 5em 0;
    text-align: center;
}

.titulo_dispositivos {
    font-size: 48px;
}

.dispositivos_lista {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.texto_dispositivos {
    font-size: 32px;
}

.footer {
    text-align: center;
    margin: 4em 0;
}

.lista_links {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 2em 0;
}

.lista_item {
    margin: 0 1em;
}

.link_item {
    text-decoration: none;
    color: var(--branco-principal);
}

.texto_direitos {
    font-size: 14px;
    color: var(--cinza-secundario);
}

.lista_item a:hover {
    color: var(--botao-azul);
}

.lista_item a:active {
    color: purple;
}

.container__botao:hover {
    background-color: var(--botao-azul-efeito);
    color: var(--cor-de-fundo);
}